.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  padding:30px;
}
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  width:50%;
  border: none;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search-button{
  background-color:#f5d100;
  font-weight: bold;
  border: none;
  padding: 10px;
  width:100px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main-title{
  text-align: center;
  color:#fff;
}